.forgot-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.forgot-card{
    width: 450px;
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);

    width:450px;
}

.forgot-card input{
    width:100%;
    padding:12px;
    margin-top:8px;
    border-radius:8px;
}